version: 2.1

orbs:
  rok8s: fairwinds/rok8s-scripts@11
  oss-docs: fairwinds/oss-docs@0

references:
  e2e_config: &e2e_config
    command_runner_image: quay.io/reactiveops/ci-images:v11.13.5-buster
    pre_script: .circleci/pre.sh
    script: .circleci/test.sh
    filters:
      branches:
        only: /.*/
      tags:
        ignore: /.*/
  install_vault: &install_vault
    run:
      name: install hashicorp vault
      command: |
        apk --update add yq
        cd /tmp
        curl -LO https://releases.hashicorp.com/vault/1.12.2/vault_1.12.2_linux_amd64.zip
        unzip vault_1.12.2_linux_amd64.zip
        mv vault /usr/bin/vault
jobs:
  test:
    working_directory: /home/circleci/go/src/github.com/fairwindsops/pluto
    docker:
      - image: cimg/go:1.24
    steps:
      - checkout
      - run: go mod download && go mod verify
      - run: go test -v ./... -coverprofile=coverage.txt -covermode=atomic
  release:
    working_directory: /home/circleci/go/src/github.com/fairwindsops/saffire
    docker:
      - image: goreleaser/goreleaser:v1.14.1
        environment:
          GO111MODULE: "on"
    resource_class: large
    shell: /bin/bash
    steps:
      - checkout
      - setup_remote_docker
      - *install_vault
      - rok8s/get_vault_env:
          vault_path: repo/global/env
      - run:
          name: docker login
          command: |
            docker login -u _json_key -p "$(echo $GCP_ARTIFACTREADWRITE_JSON_KEY | base64 -d)" us-docker.pkg.dev
      - run: echo 'export GORELEASER_CURRENT_TAG="${CIRCLE_TAG}"' >> $BASH_ENV
      - run: goreleaser
  snapshot:
    working_directory: /home/circleci/go/src/github.com/fairwindsops/saffire
    docker:
      - image: goreleaser/goreleaser:v1.14.1
    resource_class: large
    steps:
      - checkout
      - setup_remote_docker
      - run: goreleaser --snapshot --skip-sign
      - store_artifacts:
          path: dist
          destination: snapshot
  publish_docs:
    docker:
      - image: cimg/node:15.5.1
    steps:
      - checkout
      - run:
          name: Build Docs Site
          command: |
            set -e
            cd ./docs
            npm install
            npm run check-links
            npm run build
      - run:
          name: Install AWS CLI
          command: |
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install
      - run:
          name: Publish Docs Site to S3
          command: |
            cd ./dist
            aws s3 sync ./ s3://saffire.docs.fairwinds.com --delete
workflows:
  version: 2
  test:
    jobs:
      - test
      - snapshot:
          requires:
            - test
          filters:
            branches:
              only: /.*/
            tags:
              ignore: /.*/
      - rok8s/kubernetes_e2e_tests:
          requires:
            - test
          filters:
            branches:
              only: /.*/
            tags:
              ignore: /.*/
          name: integration tests
          <<: *e2e_config
  release:
    jobs:
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
